@use "layout";
@use "components";
@use "variables";

body {
    background-image: linear-gradient(variables.$gradient_light);
    color: variables.$dark-grayish-red;
    font-family: variables.$font-main;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    min-width: 350px;
    width: 100%;
}

::-moz-selection {
    background: variables.$dark-grayish-red;
    color: white;
}

::selection {
    background: variables.$dark-grayish-red;
    color: white;
}
