@use 'variables';
@use 'mixins';

/* I. MAIN LAYOUT
   ========================================================================== */
body {
  display: flex;
  min-width: 18.75rem;
  @include mixins.mobile {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100vw;
    min-width: auto;
    overflow-x: hidden;
  }
}

p {
  color: variables.$desaturated-red;
}

.coming-soon,
.side-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  @include mixins.mobile {
    height: 100%;
    min-height: 100vh;
    width: 100%;
  }
}

/* II. COMING SOON: MAIN CONTENT
   ========================================================================== */
.coming-soon {
  background-image: url('../../src/images/bg-pattern-desktop.svg');
  display: flex;
  flex-direction: column;
  padding-left: 10.3rem;
  width: 57.55vw;
  @include mixins.mobile {
    padding: 0 2rem;
    width: 100%;
    header {
      margin-top: 2rem;
      width: 7.5rem;
    }
  }
}

main {
  margin-top: 8rem;
  width: 28rem;
  @include mixins.mobile {
    height: auto;
    margin-top: 1.65rem;
    width: 100%;
  }
}

.hero-mobile {
  background-image: url('../../src/images/hero-mobile.jpg');
  display: none;
  width: 100%;
  @include mixins.mobile {
    background-size: cover;
    display: block;
    height: 15.6rem;
  }
}

.page-content {
  h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.27em;
    line-height: 1.1em;
    text-transform: uppercase;
    @include mixins.mobile {
      font-size: 2.5rem;
      line-height: 1.05em;
      margin: 4rem 0 0;
      text-align: center;
    }
  }
  p {
    line-height: 1.75em;
    margin-top: 1.1rem;
    width: 100%;
    @include mixins.mobile {
      font-size: 0.9rem;
      line-height: 1.3rem;
      margin: 1rem auto auto;
      text-align: center;
      width: 90%;
    }
  }
}

.header-light {
  color: variables.$desaturated-red;
  display: block;
  font-weight: 300;
}

footer {
  margin-top: 3.5rem;
  @include mixins.mobile {
    margin: 2rem 1rem;
    text-align: center;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.5em;
    a {
      transition: all 0.2s ease-in;
      
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }

      &:hover {
        color: variables.$dark-grayish-red;
      }
    }
  }
}

/* III. SIDE IMAGE
   ========================================================================== */

.side-image {
  background-image: url('../../src/images/hero-desktop.jpg');
  width: 42.45vw;
  @include mixins.mobile {
    display: none;
  }
}
